
    label {	float: left;
			width: 150px;}
      #container{
          width: 700px;
          margin: auto;
          background-color: beige;
      } 
      main{
          padding: 50px;
      }

      #destination{
		margin-left: 150px;
      }

      #radioButtons{
        margin-left: 150px;
      }

      #selectedMeals{
        margin-left: 150px;
      }

      #dataTable{
        padding: 50px;
        /* margin-left: 50px; */
        background-color: beige;
      }

      #dataTable,th,td{
        border:1px solid;
	    border-collapse: collapse;
      }

      #dataTable th,td{
        padding: 10px;
      }

      .checkboxs-wrapper {
        position: relative;
        }
    
        .checkboxs-wrapper input[name="radio-for-required-checkboxes"] {
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-appearance: none;
        pointer-events: none;
        border: none;
        background: none;
}
